miscelaneous/
clinker/genome/
clinker/gbkdir/
BigScape/antismash/
BigScape/genomes/
download_assemblies/download/
annotate/RepeatMasker_run/
annotate/repeat_library/
annotate/antismash/
annotate/annotation/
annotate/downloads/
annotate/genomes/
annotate/prediction_support/
